<footer>
  <div class="row">
    <div class="medium-4 columns">&copy; Copyright material</div>
    <div class="medium-4 columns">Feedback</div>
    <div class="medium-4 columns">Terms and Conditions</div>
  </div>
</footer>